@charset "utf-8";
*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body{
	font-size: 0.12rem;
	width: 4.14rem;
	margin: 0 auto;
	font-family:微软雅黑,microsoft yahei;
}
img{
	border: none;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
#shopping_header{
	width: 4.14rem;
	height: 0.6rem;
	background: white;
	border-bottom: 1px solid #aaa;
	position: fixed;
	z-index: 999;
}
#shopping_header p{
	text-align: center;
	line-height: 0.6rem;
	font-size: 0.18rem;
	font-weight: 700;
}
#shopping_nav{
	width: 4.14rem;
	height: 1.05rem;
	border-top:1px dashed #84ccc9;
	border-bottom:1px dashed #84ccc9;
}
#shopping_nav table{
	width: 4.14rem;
	height: 1.05rem;
	font-size: 0.16rem;
	color:#333;
	padding: 0 0 0 0.2rem;
	background: white;
}
/*#shopping_nav td{
	height: 0.35rem;
	line-height: 0.35rem;
}*/
#shopping_nav .mytd2{
	padding: 0 0 0 0.2rem;
}
#shopping_nav .mytd{
	width: 0.74rem;
	word-spacing:-0.02rem;/*调整文本，以防止使用两端对齐之后字间距过大*/ 
	text-align:justify; 
	text-justify:distribute-all-lines;/*ie6-8*/ 
	text-align-last:justify;/* ie9*/ 
	-moz-text-align-last:justify;/*ff*/ 
	-webkit-text-align-last:justify;/*chrome 20+*/ 
}
#shopping_nav .mytd3{
	padding: 0 0.15rem 0 0;
	background: url(../../img/maincenter2.jpg) no-repeat 0.35rem center;
}
#shopping_line{
	width: 4.14rem;
	height: 0.12rem;
	background: #ececec;
}
#shopping_banner .mybanner{
	width: 4.14rem;
	height: 0.7rem;
	font-size: 0.14rem;
	background: white;
}
#shopping_banner .mybanner span:first-of-type{
	display: inline-block;
	width: 1.2rem;
	height: 0.2rem;
	line-height: 0.2rem;
	background: url(../../img/shopping.jpg) no-repeat left center;
	background-size:0.08rem,0.17rem;
	margin: 0.1rem 0 0 0.3rem;
	text-indent: 0.18rem;
	color: #333;
}
#shopping_banner .mybanner span:last-of-type{
	width: 0.95rem;
	height: 0.35rem;
	line-height: 0.35rem;
	display: inline-block;
	border:1px solid red;
	text-align: center;
	margin: 0.05rem 0.16rem 0 0;
	color: red;
	border-radius: 0.2rem;
	float: right;
}
#shopping_banner .mybanner p{
	margin: 0.18rem 0 0 0.3rem;
	color: #333;
}
#shopping_main .main_top{
	width: 4.14rem;
	height: 0.63rem;
	line-height: 0.63rem;
	border-top:1px solid #aaa;
	border-bottom:1px solid #aaa;
	font-size: 0.18rem;
	background:white url(../../img/maincenter2.jpg) no-repeat 3.9rem center;
	background-size: 0.12rem,0.15rem;
}
#shopping_main .main_top span:first-of-type{
	margin: 0 0.18rem 0 0.18rem;
}
#shopping_main .main_top span:nth-of-type(2){
	color: red;
}
#shopping_main .main_top span:last-of-type{
	margin: 0 0 0 1.2rem;
}

#shopping_main .main_top2{
	width: 4.14rem;
	height: 0.63rem;
	line-height: 0.63rem;
	font-size: 0.18rem;
	background: white;
}
#shopping_main .main_top2 span{
	margin: 0 0.18rem 0 0.18rem;
}
#shopping_main .main_top2 input{
	width: 2.82rem;
	height: 0.4rem;
	font-size: 0.18rem;
	text-indent: 0.05rem;
	border-radius: 0.05rem;
	border:1px solid #aaa;
	outline: none;
}
#shopping_main .main_center{
	width: 4.14rem;
	height: 1rem;
	background:white url(../../img/true.png) no-repeat 0.2rem center;
	background-size: 0.25rem,0.25rem;
	position: relative;
	border-top:1px solid #aaa;
}
#shopping_main .myimg{
	width: 0.55rem;
	height: 0.7rem;
	float: left;
	margin: 0.2rem 0 0 0.75rem;
}
#shopping_main .main_center figure{
	float: left;
}
#shopping_main .main_center figcaption{
	float: left;
	margin: 0.1rem 0 0 0.25rem;
}
#shopping_main .main_center p{
	line-height: 0.4rem;
	font-size: 0.16rem;
}
#shopping_main .add{
	position: absolute;
	right: 0.1rem;
	bottom: 0.1rem;
}
#shopping_main .add img{
	float: left;
}
#shopping_main .add span{
	float: left;
	width: 0.3rem;
	height: 0.38rem;
	line-height: 0.38rem;
	text-align: center;
	font-size: 0.16rem;
}
#shopping_main .main_bottom{
	clear: both;
	font-size: 0.16rem;
	width: 4.14rem;
	height: 0.65rem;
	line-height: 0.65rem;
}
#shopping_main .main_bottom span:first-of-type{
	margin: 0 0 0 0.5rem;
	float: left;
}
#shopping_main .main_bottom span:nth-of-type(2){
	margin: 0 0 0 0.35rem;
	float: left;
}
#shopping_main .main_bottom span:last-of-type{
	float: right;
	width: 1.3rem;
	height: 0.65rem;
	background:#fad613;
	text-align: center;
}
#shopping_main .main_bottom a{
	display: inline-block;
	width: 1.3rem;
	height: 0.65rem;
}
#shopping_main .main_bottom b{
	font-weight: normal;
	color: orange;
}

#shopping_footer{
	margin: 0.15rem 0 0 0;
	width: 4.14rem;
	height:0.6rem;
	background: #f6f6f6;
	display: flex;
	position: fixed;
	bottom: 0;
	z-index: 999;
}
#shopping_footer figure{
	margin: auto;
	position: relative;
}
#shopping_footer img{
	width: 0.3rem;
	height:0.3rem;
}
#shopping_footer .img2{
	margin: 0 0 0 0.1rem;
}
#shopping_footer p{
	text-align: center;
}
#shopping_footer .num{
	display: inline-block;
	width: 0.25rem;
	height: 0.25rem;
	line-height: 0.25rem;
	text-align: center;
	background:#f40;
	color: white;
	border-radius: 50%;
	position: absolute;
}
#shopping_line2{
	clear: both;
	width: 4.14rem;
	height: 0.6rem;
	background:#ececec;
}

#shopping_position{
	position: absolute;
	top: 0.6rem;
}
